<div class="testimonial-section-container">
  <h2 class="h2">
    <strong>{{ section.settings.heading }}</strong>
  </h2>
  <slider-component class="slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div
      class="collection-list contains-card contains-card--collection{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--3-col-desktop grid--3-col-tablet grid--2-col-mobile slider slider--tablet slider--desktop grid--peek collection-list--{{ section.blocks.size }}-items"
      id="Slider-{{ section.id }}"
      role="list"
    >
      {%- liquid
        assign columns = section.blocks.size
        if columns > 3
          assign columns = 3
        endif
      -%}
      {%- for block in section.blocks -%}
        <div
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          class="collection-list__item grid__item slider__slide scroll-trigger animate--slide-in"
          {{ block.shopify_attributes }}
          data-cascade
          style="--animation-order: {{ forloop.index }};"
        >
          {% render 'testimonial' with block.settings as testimonial %}
        </div>
      {%- endfor -%}
    </div>
    <div class="slider-buttons">
      <button
        type="button"
        class="slider-button slider-button--prev"
        name="previous"
        aria-label="{{ 'general.slider.previous_slide' | t }}"
      >
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>
      <button
        type="button"
        class="slider-button slider-button--next"
        name="next"
        aria-label="{{ 'general.slider.next_slide' | t }}"
      >
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
  </slider-component>
</div>

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "blocks": [
   {
     "name": "Testimonial",
     "type": "testimonial",
     "settings": [
       {
         "type": "text",
         "id": "author",
         "label": "Author"
       },
       {
         "type": "text",
         "id": "testimonial",
         "label": "Testimonial"
       },
       {
         "type": "text",
         "id": "credentials",
         "label": "Credentials"
       },
       {
         "type": "color_background",
         "id": "background_color",
         "label": "Background Color"
       }
     ]
   }
 ],
  "settings": [{
     "type": "color_background",
     "id": "background_color",
     "label": "Background Color"
   },
   {
     "type": "text_alignment",
     "id": "text_alignment",
     "label": "Text Alignment"
   },
   {
     "type": "text",
     "id": "heading",
     "label": "Section Heading"
   }],
  "presets": [{
    "name": "Testimonials"
  }]
}
{% endschema %}
